/* * * * * * * * * * * * * * * * * * *
 * * * * COLOR REFERENCE CHART * * * *
 * * * * * * * * * * * * * * * * * * *
 *  COLOR NAME   *   TAG   *   HEX   *
 * * * * * * * * * * * * * * * * * * *
 *  Black Olive  *    LD   * 3B3C36  *
 *     Dirt      *    LM   * 9B7653  *
 *    Beaver     *    LL   * 9F8170  *
 *Cadmium Orange *    MD   * ED872D  *
 *Dark Tangerine *    ML   * FFA812  *
 *  Deep Peach   *    HD   * FFCBA4  *
 * Floral White  *    HL   * FFFAF0  *
 * * * * * * * * * * * * * * * * * * */

/* == DEFAULT STYLE ============================================================ */
* { position: absolute; margin: 0; padding: 0; width: 100%; height: 100%; font: 12px sans-serif; }


/* == IDENTIFIERS ============================================================== */
body#body {
	width: 100%;
	height: 100%;
	background-color: #FFFAF0; /*HL*/ 
}

div#dialog-overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	background-color: rgba(0,0,0,0.5); /* Dim the background */
	display: none;
}

div#dialog-content {
	left: 5%;
	top: 15%;
	width: 90%;
	height: 80%;
	word-wrap: break-word;
	overflow-y: scroll;
}

p#dialog-title {
	left: 5%;
	top: 2%;
	text-align: left;
	font-family: "Calibri", Arial, sans-serif;
	color: #FFFAF0; /*HL*/
	font-size: 48px;
	font-weight: bold;
}

div#container-dialog {
	width: 50%;
	height: 75%;
	top: 15%; 
	left: 25%;
	background-color: #3B3C36; /*LD*/
	border-radius: 10px;
	text-align: center;
	z-index: 21; /* 1px higher than the overlay layer */
}

div#container-banner {
	float: left;
	height: 40px;
	width: 30%;
	top: 0;
	right: 0;
	margin-top: 20px;
	margin-right: 20px;
}

div#container-linechart {
	float: left;
	border-radius: 10px;
	height: 150px;
	background-color: #3B3C36; /*LD*/ 
	width: 20%;
	bottom: 0;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 10px;
}

div#container-barchart {
	float: left;
	border-radius: 10px;
	height: 150px;
	background-color: #3B3C36; /*LD*/ 
	width: 20%;
	bottom: 0;
	right: 0;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 10px;
}

#states {
	fill: #9F8170; /*LL*/ 
	stroke: #FFFAF0; /*HL*/ 
	stroke-linejoin: round;
	stroke-linecap: round;
}

#states .active {
	fill: #9B7653; /*LL*/ 
	stroke: #FFFAF0; /*HL*/ 
	stroke-width: 0.5px;
}


/* == CLASSES ================================================================== */

.dialog-header {

}

.banner-element {
	fill: #FFFAF0; /*HL*/ 
}

.banner-element.highlight.text {
	fill: #FFA812; /*MD*/
}

.banner-element.text {
	font-family: "Calibri", Arial, sans-serif;
}

.banner-element.icon {
	fill: transparent;
	stroke-width: 2px;
	stroke: #FFFAF0; /*HL*/ 
}

.banner-divider {
	fill: #FFFAF0; /*HL*/ 
}

.widget-background {
	fill: #3B3C36; /*LD*/
}

.map-marker {
	fill: #ED872D; /*HL*/
	stroke: #FFFAF0; /*HL*/
	stroke-width: 0.75px;
	z-index: 10;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.feature {
	fill: #9F8170; /*LL*/ 
	cursor: pointer;
}

.feature.active {
	fill: orange;
	stroke: #fff;
	stroke-width: 0.75px;
}

.boundary {
	fill: none;
	stroke: #FFFAF0; /*HL*/ 
	stroke-linejoin: round;
	stroke-linecap: round;
}

.bar {
	fill: #ED872D;
	width: 20px;
}

.bar:hover {
	fill: #FFA812;
}

.axis path,
.axis line {
	stroke-width: 1px;
	fill: none;
	stroke: #FFFAF0;
	shape-rendering: crispEdges;
}

.axis text {
	fill: #FFFAF0;
}

.line {
	fill: none;
	stroke: #ED872D;
	stroke-width: 5px;
}

div.tooltip {
	position: absolute;
	text-align: center;           
	width: 60px;                  
	height: 28px;                 
	padding: 2px;             
	font: 12px sans-serif;        
	background: #9B7653;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}


/* == GENEREAL ELEMENT STYLING ================================================= */

text {
	font: 10px sans-serif;
	pointer-events: none;
	fill: #3B3C36; /*LD*/ 
}


/* == DEPRECATED =============================================================== */
p#searchtext1 {
	font-family: "Calibri", Arial, sans-serif;
	font-weight: bold;
	margin-left: 15px;
	color: #3B3C36; /*LD*/ 
	margin-top: 2px;
	font-size: 1.75em;
}

p#searchtext2 {
	font-family: "Calibri", Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	color: #3B3C36; /*LD*/ 
	margin-left: 100px;
	margin-top: 7px;
	font-size: 1.25em;
}


input#searchinput {
    border-radius: 7px; //CSS3 Feature
	margin-left: 10px;
	font-family: "Calibri", Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	color: #3B3C36; /*LD*/ 
	font-size: 1.25em;
	padding: 0;
	height: 90%;
	width: 99%;
	padding-left: 10px;
}

div#searchbar {
	float: left;
	border-radius: 10px;
	height: 40px;
	background-color: #3B3C36; /*LD*/ 
	width: 30%;
	top: 0;
	margin-top: 20px;
	margin-left: 20px;
}

div#searchfield {
	float: left;
	background-color: #FFFAF0; /*HL*/ 
	border-radius: 7px;
	margin: 5px;
	width: 85%;
	height: 30px;
	top: 0;
}

img#searchimage {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
}
